Hi, <br>
{$user->username}<br>
<br>
Congratulations! Your account has been successfully activated.<br>
Now login at: http://earnbugs.in/auth/login and start earning.<br>
<br>
Follow the below guideline to avoid your account suspension:<br>
- Don’t use adult tag line or mislead to audience.<br>
- Don’t change the thumbnail of post.<br>
- Don’t Post the link in forum websites.<br>
- Don’t do any type of spamming like excessive mentioning, tagging or running script similar like this.<br>
- Don’t post the link on your social profile.<br>
- Don’t Try to provide traffic by self clicking or using script for the same.<br>
- Don’t share the link in facebook groups and comment section of facebook posts.<br>
- Don’t send the bot traffic using other websites.<br>
<br>
To understand in details, Read FAQs: http://earnbugs.in<br>
If still you have a query then mail us on: info@earnbugs.in<br>
<br>
Happy sharing!<br>
<br>
Regards,<br>
Earnbugs Team<br>