<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">Manage</h1>
            <form class="form-inline text-center" role="form" method="get" action="">
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only">Link</label>
                        <span class="add-on input-group-addon"><i class="fa fa-link fa-fw"></i></span>
                        <input type="text" style="width: 200px" name="website" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only">From</label>
                        <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> From</span>
                        <input type="date" style="width: 150px" name="startdate" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only">To</label>
                        <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> To</span>
                        <input type="date" style="width: 150px" name="enddate" class="form-control" />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Show</button>
            </form>
            <hr>
            <div class="panel panel-default">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $content in $contents}
                        <tr>
                            <td><a href="/public/assets/uploads/images/{$content->image}" target="_blank"><img src="/content/resize/{echo base64_encode($content->image)}/50/50"></a></td>
                            <td><a href="/admin/info/item/{$content->id}" target="_blank">{echo $content->title}</a></td>
                            <td>
                                <a href="/analytics/content/{$content->id}" class="btn btn-default btn-xs"><i class="fa fa-pie-chart"></i></a>
                                {if($content->live)}
                                    <a href="/admin/edit/item/{$content->id}/live/0" class="btn btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                {/if}
                                {else}
                                    <a href="/admin/edit/item/{$content->id}/live/1" class="btn btn-primary btn-xs"><i class="fa fa-check"></i></a>
                                {/else}
                                <a href="/finance/content/{$content->id}" class="btn btn-info btn-xs"><i class="fa fa-inr"></i></a>
                                <a href="/content/edit/{$content->id}" class="btn btn-warning btn-xs"><i class="fa fa-edit"></i></a>
                                <a href="/content/delete/{$content->id}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>   
            </div>
            
            <div class="text-center">
                <ul class="pager">
                    {if($page != 1)}
                    <li><a href="{echo Shared\Markup::pagination($page - 1)}">Previous</a></li>
                    {/if}
                    {if($page < $count/$limit)}
                    <li><a href="{echo Shared\Markup::pagination($page + 1)}">Next</a></li>
                    {/if}
                </ul>
            </div>

        </div>
    </div>
</div>