<div id="page-wrapper">
    <div class="row col-lg-12">
        <h1 class="page-header text-center">Domains Manager</h1>
        {if isset($message)}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {$message}
            </div>
        {/if}
        <form class="form-inline text-center" role="form" method="get" action="">
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only">Domain</label>
                    <span class="add-on input-group-addon"><i class="fa fa-globe fa-fw"></i> New Domain</span>
                    <input type="url" style="width: 200px" name="domain" class="form-control" value="http://" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        <hr>
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Created</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $domain in $domains}
                    <tr>
                        <td>{echo $domain->value}</td>
                        <td>{echo $domain->created}</td>
                        <td>
                            {if($domain->live == 0)}
                                <a href="/admin/edit/meta/{$domain->id}/live/1" class="btn btn-primary btn-xs"><i class="fa fa-check"></i> Activate </a>&nbsp;
                            {/if}
                            {else}
                                <a href="/admin/edit/meta/{$domain->id}/live/0" class="btn btn-danger btn-xs"><i class="fa fa-ban"></i> Block </a>&nbsp;
                            {/else}
                            <a href="/admin/delete/meta/{$domain->id}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</div>