{include member/modal_link.html}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header text-center">{$category}</h1>
        <form class="form-inline text-center" role="form" method="get" action="">
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only">Title</label>
                    <input type="text" style="width: 300px" name="title" class="form-control" placeholder="Search here..." value="{$title}" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <hr>
        {if($user->domain)}
            <p class="text-center"><i>Your Custom domain is <strong id="domain">{$user->domain}</strong></i></p>
        {/if}
        {else}
            <p class="text-center"><strong>You have not created your custom domain create one <a href="/member/profile">here</a></strong></p>
        {/else}
    </div>
    <div class="row">
        {foreach $item in $items}
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">{echo substr($item->title, 0, 30)}</div>
                <div class="panel-body">
                    <a href="{echo $item->url}" target="_blank"><img src="/content/resize/{echo base64_encode($item->image)}" alt="{echo $item->title}" width="290"></a>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control shorturl">
                            </td>
                            <td>
                                <button class="btn btn-success shortenURL" data-item="{echo $item->id}" data-hash="{echo $item->encode($user->username, $user->id)}" data-title="{echo $item->title}">Generate Link</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {/foreach}
    </div>
    <div class="text-center">
        <ul class="pager">
            {if($page != 1)}
            <li><a href="{echo Shared\Markup::pagination($page - 1)}">Previous</a></li>
            {/if}
            {if($page < $count/$limit)}
            <li><a href="{echo Shared\Markup::pagination($page + 1)}">Next</a></li>
            {/if}
        </ul>
    </div>
</div>
