{include publisher/modal_link.html}
<div id="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center">Viral for you</h1>
            </div>
            <div class="row">
            {if($stats)}
            {foreach $stat in $stats}
                {script $item = Item::first(array("id = ?" => $stat->item_id), array("id", "title", "image", "url", "description"))}
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">{echo substr($item->title, 0, 68)}</div>
                        <div class="panel-body">
                            <a href="{echo $item->url}" target="_blank"><img src="/content/resize/{echo base64_encode($item->image)}" alt="{echo $item->title}" width="440"></a>
                        </div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        {script $k = array_rand($domains)}
                                        <select class="form-control domain">
                                            <option value="{echo $domains[$k]}">{echo $domains[$k]}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control shorturl">
                                    </td>
                                    <td>
                                        <button class="btn btn-success shortenURL" data-item="{echo $item->id}" data-hash="{echo $item->encode($user->id, $user->username)}" data-title="{echo $item->title}" data-description="{echo $item->description}">Generate Link</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {/foreach}
            {/if}
            {else}
                <p>You have to share link on your platform for getting viral links for you.</p>
            {/else}
            </div>
            <div class="text-center">
                <ul class="pager">
                    {if($page != 1)}
                    <li><a href="{echo Shared\Markup::pagination($page - 1)}">Previous</a></li>
                    {/if}
                    {if($page < $count/$limit)}
                    <li><a href="{echo Shared\Markup::pagination($page + 1)}">Next</a></li>
                    {/if}
                </ul>
            </div>
        </div>
    </div>
</div>