<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
                <div class="row">

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-line-chart"></i> Data
                            </a>
                            <a href="admin/search?model=user&key=live&sign=equal&value=1" class="list-group-item"><i class="fa fa-users fa-2x"></i>  Users <span class="badge">{echo $users}</span></a>
                            <a href="/content/manage" class="list-group-item"><i class="fa fa-file fa-2x"></i> Contents <span class="badge">{echo $items}</span></a>
                            <a href="admin/search?model=platform&key=live&sign=equal&value=null" class="list-group-item"><i class="fa fa-desktop fa-2x"></i>  Platforms <span class="badge">{echo $platforms}</span></a>
                            <a href="admin/search?model=link&key=live&sign=equal&value=1" class="list-group-item"><i class="fa fa-link fa-2x"></i>  Links <span class="badge">{echo $links}</span></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-pie-chart"></i> Total Statistics
                            </a>
                            <a href="admin/search?model=payment&key=live&sign=like&value=1" class="list-group-item"><i class="fa fa-bank fa-2x"></i>  Payment Done <span class="badge">{echo $payment}</span></a>
                            <a href="admin/search?model=platform&key=created&sign=like&value={echo $now}" class="list-group-item"><i class="fa fa-hand-pointer-o fa-2x"></i>  Total Clicks <span class="badge">{echo $clicks}</span></a>
                            <a href="/finance/records" class="list-group-item"><i class="fa fa-inr fa-2x"></i> Average Profit <span class="badge">{echo round(0.05*$earn, 2)}</span></a>
                            <a href="/finance/earnings" class="list-group-item"><i class="fa fa-exchange fa-2x"></i>  Earnings <span class="badge">{echo $earn}</span></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-cloud"></i> CloudStuffs
                            </a>
                            <a href="https://earnbugs.in:8083/" class="list-group-item"><i class="fa fa-globe fa-2x"></i>  cPanel</a>
                            <a href="http://earnbugs.in/webmail/" class="list-group-item"><i class="fa fa-envelope fa-2x"></i>  WebMail</a>
                            <a href="https://cloudstuffs.com/auth/login" class="list-group-item"><i class="fa fa-ticket fa-2x"></i>  Support Tickets</a>
                            <a href="http://earnbugs.in/vstats/" class="list-group-item"><i class="fa fa-line-chart fa-2x"></i>  Stats</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
