<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
                <div class="row">

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-line-chart"></i> Data
                            </a>
                            <a href="admin/search?model=user&key=live&sign=equal&value=1" class="list-group-item"><i class="fa fa-users fa-2x"></i>  Publishers <span class="badge">{echo User::count(array("admin = ?" => 0))}</span></a>
                            <a href="/content/all" class="list-group-item"><i class="fa fa-file fa-2x"></i> Campaigns <span class="badge">{echo Item::count()}</span></a>
                            <a href="admin/search?model=link&key=live&sign=equal&value=1" class="list-group-item"><i class="fa fa-link fa-2x"></i>  Links <span class="badge">{echo Link::count()}</span></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-pie-chart"></i> Total Statistics
                            </a>
                            <a href="admin/search?model=payment&key=live&sign=like&value=1" class="list-group-item"><i class="fa fa-money fa-2x"></i>  Payment Done <span class="badge">{echo $payment}</span></a>
                            
                            <a href="admin/search?model=stat&key=created&sign=like&value={echo $now}" class="list-group-item"><i class="fa fa-check-circle-o fa-2x"></i>  Verified Clicks <span class="badge">{echo round($total[0]["clicks"], 2)}</span></a>
                            <a href="/finance/earnings" class="list-group-item"><i class="fa fa-exchange fa-2x"></i>  Earnings <span class="badge">{echo round($total[0]["earn"], 2)}</span></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-pie-chart"></i> Monitor
                            </a>
                            <a href="admin/search?model=stat&key=created&sign=like&value={echo $now}" class="list-group-item"><i class="fa fa-database fa-2x"></i>  Link Stat <span class="badge">{echo Stat::count()}</span></a>
                            <a href="admin/search?model=account&key=live&sign=equal&value=1" class="list-group-item"><i class="fa fa-bank fa-2x"></i>  Bank <span class="badge">{echo Account::count()}</span></a>
                        </div>
                    </div>                    

                </div>

            </div>
        </div>
    </div>
</div>
