<div id="page-wrapper">
    <div class="row col-lg-12">
        <h1 class="page-header text-center">Separate Website Earnings</h1>
        <form class="form-inline text-center" role="form" method="get" action="">
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only">Webiste</label>
                    <input type="text" style="width: 200px" name="website" class="form-control" placeholder="Website" value="{$website}" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Show</button>
        </form>
        <hr>
        {if($items)}
        <p>Total Items : {$count}</p>
        <div class="panel panel-default">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Webiste</td>
                        <td>{echo $website}</td>
                    </tr>
                    <tr>
                        <td>Items</td>
                        <td>{echo count($items)}</td>
                    </tr>
                    <tr>
                        <td>Earning</td>
                        <td>{echo round($amount, 2)}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {/if}
        {else}
        <p class="text-center">Please enter a website and select date range.</p>
        {/else}
    </div>
</div>