<div id="page-wrapper">
    <div class="row col-lg-12">
        <h1 class="page-header text-center">Earnings Details</h1>
        <div class="panel panel-default">
            <div class="panel-heading">Total Earning</div>
            <table class="table">
                <tbody>
                {script $total1 = 0}
                {foreach $record in $records}
                {script $total1 += $record['amount']}
                    <tr>
                        <td>{echo $record['domain']}</td>
                        <td>{echo $record['amount']}</td>
                    </tr>
                {/foreach}
                    <tr>
                        <th>Total</th>
                        <th>{echo $total1}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Paid</div>
            <table class="table">
                <thead>
                    <th>Website</th>
                    <th>Amount</th>
                </thead>
                <tbody>
                {script $total2 = 0}
                {foreach $payment in $payments}
                {script $total2 += $payment->amount}
                    <tr>
                        <td>{echo $payment->website}</td>
                        <td>{echo $payment->amount}</td>
                    </tr>
                {/foreach}
                    <tr>
                        <th>Total</th>
                        <th>{echo $total2}</th>
                    </tr>
                    <tr>
                        <th>Pending</th>
                        <th>{echo $total1-$total2}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
