<div id="page-wrapper">
    <div class="row col-lg-12">
        <h1 class="page-header text-center">Earnings Details</h1>
        <div class="panel panel-default">
            <div class="panel-heading">Total Earning</div>
            <table class="table">
                <thead>
                    <th>Domain</th>
                    <th>Amount</th>
                </thead>
                <tbody>
                {foreach $record in $records}
                    <tr>
                        <td>{echo $record['domain']}</td>
                        <td>{echo $record['amount']}</td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Paid</div>
            <table class="table">
                <thead>
                    <th>Website</th>
                    <th>Amount</th>
                </thead>
                <tbody>
                {foreach $payment in $payments}
                    <tr>
                        <td>{echo $payment->website}</td>
                        <td>{echo $payment->amount}</td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</div>
