<div id="page-wrapper">
    <div class="row col-lg-12">
        <h1 class="page-header text-center">Finance Records</h1>
        <form class="form-inline text-center" role="form" method="get" action="">
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only">Status</label>
                    <select name="live" class="form-control" value="{$live}">
                        <option>Payment Status</option>
                        <option value="null">Paid</option>
                        <option value="1">Unpaid</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only">From</label>
                    <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> Start</span>
                    <input type="date" style="width: 200px" name="startdate" class="form-control" value="{echo $startdate}" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only">To</label>
                    <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> End</span>
                    <input type="date" style="width: 200px" name="enddate" class="form-control" value="{echo $enddate}" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Show</button>
        </form>
        <hr>
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th>User Id</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $account in $accounts}
                    {script $user = User::first(array("id = ?" => $account->user_id), array("name", "id"))}
                    {script $bank = Account::first(array("id = ?" => $account->user_id), array("id"))}
                    <tr>
                        <td>{$user->id}</td>
                        <td><a href="/admin/info/user/{$user->id}">{echo $user->name}</a></td>
                        <td>₹ {echo round($account->amount, 2)}</td>
                        <td>
                        {if($live)}
                            <a href="/finance/makepayment/{$user->id}" class="btn btn-primary btn-xs"><i class="fa fa-bank"></i> Make Payment </a>&nbsp;
                        {/if}
                        {else}
                            <a href="/finance/payhistory/{$user->id}" class="btn btn-primary btn-xs"><i class="fa fa-bank"></i> Payment History </a>
                        {/else}
                        <a href="/admin/search?model=earning&key=user_id&sign=equal&value={$user->id}" class="btn btn-info btn-xs"><i class="fa fa-inr"></i> Earnings Details</a>&nbsp;
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
        <nav class="text-center">
            <ul class="pager">
                {if($page != 1)}
                <li><a href="?page={echo $page - 1}">Previous</a></li>
                {/if}
                {if($page < $count/$limit)}
                <li><a href="?page={echo $page + 1}">Next</a></li>
                {/if}
            </ul>
        </nav>
    </div>
</div>