# basic password protection

AuthUserFile /home/admin/web/earnbugs.in/public_html/application/libraries/MongoDB/.htpasswd
AuthName "Username and password required"
AuthType Basic
<Limit GET POST>
	Require valid-user
</Limit>