<div id="page-wrapper">
    <div class="row col-lg-12">
        <h1 class="page-header text-center">Members</h1>
        <form class="form-inline text-center" role="form" method="get" action="">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" style="width: 150px" name="id" class="form-control" placeholder="Enter User Id" value="{$id}" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only">From</label>
                    <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> From</span>
                    <input type="date" style="width: 180px" name="startdate" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only">To</label>
                    <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> To</span>
                    <input type="date" style="width: 180px" name="enddate" class="form-control" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Show</button>
        </form>
        <hr>
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Platform</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $user in $users}
                    {script $platform = Platform::first(array("user_id = ?" => $user->id), array("image", "link", "created"));}
                    <tr>
                        <td>{echo $user->id}</td>
                        <td><a href="/admin/info/user/{$user->id}">{echo $user->name}</a></td>
                        <td>
                            <a href="{echo CDN}uploads/images/{$platform->image}" class="btn btn-primary btn-xs" target="_blank"><i class="fa fa-picture-o"></i> Image </a>&nbsp;
                            <a href="{$platform->link}" class="btn btn-primary btn-xs" target="_blank"><i class="fa fa-external-link"></i> Link </a>&nbsp;
                        </td>
                        <td>
                            {if($user->live)}
                                <span class="label label-success">Active</span>
                            {/if}
                            {else}
                                <span class="label label-warning">InActive</span>
                            {/else}
                        </td>
                        <td>{echo $platform->created}</td>
                        <td>
                            {if($user->live == 0)}
                                <a href="/admin/edit/user/{$user->id}/live/1" class="btn btn-primary btn-xs"><i class="fa fa-check"></i></a>&nbsp;
                            {/if}
                            {else}
                                <a href="/admin/edit/user/{$user->id}/live/0" class="btn btn-warning btn-xs"><i class="fa fa-ban"></i></a>&nbsp;
                            {/else}
                            <a href="/member/delete/{$user->id}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                            <a href="/admin/update/user/{$user->id}" class="btn btn-info btn-xs"><i class="fa fa-edit"></i></a>
                            <a href="/auth/loginas/{$user->id}" class="btn btn-default btn-xs"><i class="fa fa-sign-in"></i> Login As</a>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <ul class="pager">
                {if($page != 1)}
                <li><a href="{echo Shared\Markup::pagination($page - 1)}">Previous</a></li>
                {/if}
                {if($page < $count/$limit)}
                <li><a href="{echo Shared\Markup::pagination($page + 1)}">Next</a></li>
                {/if}
            </ul>
        </div>

    </div>
</div>