<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Earnings</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Link</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $earn in $earnings}
                    {script $item = Item::first(array("id = ?" => $link->item_id), array("title"))}
                    <tr>
                        <td>{$item->title}</td>
                        <td>{$earn->created}</td>
                        <td>{$earn->amount}</td>
                        <td>{$earn->live}</td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>

    </div>
</div>