<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Profile</h3>
        {if isset($message)}
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {$message}
        </div>
        {/if}
        <p class="text-center">
            <i class="help-text">Note : Your Custom domain is domain from which link will be tracked, do not include special characters and space</i>
        </p>
        <form class="form-horizontal" method="post" action="">
            <div class="form-group">
                <label class="col-sm-3 control-label">Custom Domain</label>
                {if($user->domain)}
                    <div class="col-sm-9">
                        <input type="text" name="domain" class="form-control" placeholder="Enter Domain name only" value="{$user->domain}" disabled="">
                    </div>
                {/if}
                {else}
                    <div class="col-sm-3">
                        <input type="text" name="domain" class="form-control" placeholder="Enter Domain name only" value="{$user->domain}" required="">
                    </div>
                    <div class="col-sm-6">
                        <select class="form-control" name="target">
                        {foreach $domain in $domains}
                            <option value=".{echo substr($domain, 7)}">.{echo substr($domain, 7)}</option>
                        {/foreach}
                        </select>
                    </div>
                {/else}
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" name="username" class="form-control" placeholder="Enter Username" value="{$user->username}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Full Name</label>
                <div class="col-sm-9">
                    <input type="text" name="name" class="form-control" placeholder="Enter name" value="{$user->name}" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" name="email" class="form-control" placeholder="Enter email" value="{$user->email}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Phone</label>
                <div class="col-sm-9">
                    <input type="tel" name="phone" class="form-control" placeholder="Enter phone number" value="{$user->phone}" required="">
                    <small class="help-block">Will be for telephonic verification</small>
                </div>
            </div>
            <input type="hidden" name="action" value="saveUser">
            <button type="submit" class="btn btn-success pull-right">Save <i class="fa fa-check-circle fa-fw"></i></button>
        </form>
        
        <h3>Bank Account Details</h3>
        {if($account)}
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>Bank Name</td>
                            <td>{$account->bank}</td>
                        </tr>
                        <tr>
                            <td>Account Holder</td>
                            <td>{$account->name}</td>
                        </tr>
                        <tr>
                            <td>Account Number</td>
                            <td>{$account->number}</td>
                        </tr>
                        <tr>
                            <td>IFSC Code</td>
                            <td>{$account->ifsc}</td>
                        </tr>
                        <tr>
                            <td>Paypal Email</td>
                            <td>{$account->paypal}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {/if}
        {else}
        <form class="form-horizontal" method="post" action="">
            <div class="form-group">
                <label class="col-sm-3 control-label">Bank Name</label>
                <div class="col-sm-9">
                    <input type="text" name="bank" class="form-control" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Account Holder</label>
                <div class="col-sm-9">
                    <input type="text" name="name" class="form-control" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Account Number</label>
                <div class="col-sm-9">
                    <input type="text" name="number" class="form-control" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">IFSC Code</label>
                <div class="col-sm-9">
                    <input type="text" name="ifsc" class="form-control" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Paypal Email</label>
                <div class="col-sm-9">
                    <input type="email" name="paypal" class="form-control">
                </div>
            </div>
            <input type="hidden" name="action" value="saveAccount">
            <button type="submit" class="btn btn-success pull-right">Save <i class="fa fa-check-circle fa-fw"></i></button>
        </form>
        {/else}
    </div>
</div>