<div id="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="page-header text-center">Earnings</h3>
                <form class="form-inline text-center" role="form" method="get" action="">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="sr-only">From</label>
                            <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> From</span>
                            <input type="date" style="width: 200px" name="startdate" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="sr-only">To</label>
                            <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> To</span>
                            <input type="date" style="width: 200px" name="enddate" class="form-control" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Show</button>
                </form>
                <hr>
                {if($stats)}
                <div class="table-responsive panel">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Link</th>
                                <th>Clicks</th>
                                <th>Avg RPM</th>
                                <th>Date</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                        {script $tc = 0}
                        {script $tr = 0}
                        {script $te = 0}
                        {foreach $stat in $stats}
                            {script $stat = Stat::first(array("link_id = ?" => $stat->link_id), array("link_id", "rpm", "amount", "live", "created", "id", "click"), "created", "desc")}
                            {script $link = Link::first(array("id = ?" => $stat->link_id), array("short"))}
                            {script $tc += $stat->click}
                            {script $tr += $stat->rpm}
                            {script $te += $stat->amount}
                            <tr>
                                <td>{$stat->id}</td>
                                <td>{$link->short}</td>
                                <td>{$stat->click}</td>
                                <td><i class="fa fa-inr"></i> {$stat->rpm}</td>
                                <td>{echo \Framework\StringMethods::only_date($stat->created)}</td>
                                <td><i class="fa fa-inr"></i> {echo $stat->amount}</td>
                            </tr>
                        {/foreach}
                            <tr>
                                <th>Total</th>
                                <th>{echo $count}</th>
                                <th>{echo $tc}</th>
                                <th><i class="fa fa-inr"></i> {echo $tr/$count}</th>
                                <th></th>
                                <th><i class="fa fa-inr"></i> {echo $te}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {/if} {else}
                <p class="text-center">No Earning Created, Please Check Later</p>
                {/else}
            </div>
        </div>
    </div>
</div>
