<div id="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header text-center">Frequently Asked Questions</h3>
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <div class="panel panel-default">
                            <ul class="list-group">
                                <li class="list-group-item active text-center">How Do We Count Clicks<i class="fa fa-question"></i></li>
                                <p style="padding:8px;">
                                    Any click that travels user from short URL to the landing page of Our website will be counted as a verified click.
                                    <br/>
                                    Short URL: <b>http://goo.gl/fCCFSr</b><br/>
                                    Long URL : <b>http://www.filmycity.in/aged-man-character-played-by-bollywood-hero/ </b><br/>
                                    <b style="color:blue">Invalid Click:</b><br/>
                                    If a user clicks on <b>http://goo.gl/fCCFSr</b> and decides to close the link before itlink redirects to <b>http://www.filmycity.in/aged-man-character-played-by-bollywood-hero/</b><br/>

                                    <b style="color:blue">Verified Click :</b><br/>
                                     If a user clicks on <b>http://goo.gl/fCCFSr</b> and the link redirects to <b>http://www.filmycity.in/aged-man-character-played-by-bollywood-hero/ </b>
                                </p>
                            </ul>
                        </div>
                    </div>
                     <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="panel panel-default">
                            <ul class="list-group">
                                <li class="list-group-item active text-center">Are there any tagline rules<i class="fa fa-question"></i></li>
                                <p style="padding:8px;">
                                    We discourage the use of misleading tagline, because the “Bounce Rate” for such traffic is high.
                                    <br/>We monitor “Bounce Rate” for each publisher and those who cross the threshold level will be disqualified.
                                    <br/>Bounce Rate is high when users lands on a website page and they do not find any content what they are looking for.
                                </p>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>