<div id="content">
    <div class="panel">
        <div class="panel-body">
            <div class="col-md-12 col-sm-12">
                <h3 class="animated fadeInLeft">RPM</h3>
                <ul class="nav navbar-nav" onclick="return false;">
                    <li><a href="">India : <i class="fa fa-inr"></i>135</a></li>
                    <li><a href="">US : <i class="fa fa-inr"></i>270</a></li>
                    <li><a href="">CA : <i class="fa fa-inr"></i>380</a></li>
                    <li><a href="">AU : <i class="fa fa-inr"></i>400</a></li>
                    <li><a href="">GB : <i class="fa fa-inr"></i>310</a></li>
                    <li><a href="">Others : <i class="fa fa-inr"></i>70</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="padding:20px;">
        <div class="col-md-12 padding-0">
            <div class="col-md-8 padding-0">
                <div class="panel">
                    <div class="panel-body" style="padding-bottom:50px;">
                        <div class="col-md-12" style="padding-top:20px;">
                            <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                <h2 style="line-height:.4;">{echo round($total[0]["click"], 2)}</h2>
                                <small>Clicks</small>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                <h2 style="line-height:.4;">{echo round($total[0]["earn"]*1000/$total[0]["click"], 2)}</h2>
                                <small>Average RPM</small>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                                <h2 style="line-height:.4;">{echo round($total[0]["earn"], 2)}</h2>
                                <small>Earnings</small>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                                <h2 style="line-height:.4;">{echo round($paid, 2)}</h2>
                                <small>Paid</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 padding-0">
                    <div class="panel box-v2">
                        <div class="panel-heading padding-0">
                            <div class="box-v2-detail">
                                <h4>{$user->name}</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12 padding-0 text-center">
                                <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                                    <h3>{echo Link::count(array("user_id = ?" => $user->id))}</h3>
                                    <p>Total Links</p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                                    <h3>{echo Stat::count(array("user_id = ?" => $user->id))}</h3>
                                    <p>Links Tracking</p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 padding-0">
                                    <h3>{echo Platform::count(array("user_id = ?" => $user->id))}</h3>
                                    <p>Platforms</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-line-chart fa-fw"></i> Active Links
                        <span class="pull-right"><a href="/publisher/mylinks">All Links</a></span>
                    </h3>
                </div>
                {if($links)}
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Link Title</th>
                                <th>Short URL</th>
                                <th>Realtime Stats</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $link in $links}
                                {script $item = Item::first(array("id = ?" => $link->item_id), array("title", "url"))}
                                <tr>
                                    <td><a href="{$item->url}" target="_blank">{$item->title}</a></td>
                                    <td><a href="{$link->short}+" target="_blank">{$link->short}</a></td>
                                    <td class="googl" data-link="{echo $link->short}">
                                        <span class="label label-success">View</span>
                                    </td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
                {/if} {else}
                <p>Hi, you have not generated any link to share on your platform.</p>
                {/else}
            </div>
        </div>
    </div>
</div>