<div id="content">
    <div class="col-md-12" style="padding:20px;">
        <div class="col-md-12 padding-0">
            <div class="col-md-8 padding-0">
                <div class="col-md-12 padding-0">
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-body text-center">
                                <h2 id="today_click">0</h2>
                                <p>Clicks Today</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-body text-center">
                                <h2 id="today_rpm">0</h2>
                                <p>Average RPM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 padding-0">
                    <div class="panel box-v2">
                        <div class="panel-heading padding-0">
                            <div class="box-v2-detail">
                                <h4>{$user->name}</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12 padding-0 text-center">
                                <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                                    <h3>{echo Link::count(array("user_id = ?" => $user->id))}</h3>
                                    <p>Total Links</p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                                    <h3>{echo Stat::count(array("user_id = ?" => $user->id))}</h3>
                                    <p>Links Tracking</p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 padding-0">
                                    <h3>{echo Platform::count(array("user_id = ?" => $user->id))}</h3>
                                    <p>Platforms</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 card-wrap padding-0">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading bg-white border-none" style="padding:20px;">
                        <div class="col-md-6 col-sm-6 col-sm-12 text-left">
                            <h4>Overall Stats</h4>
                        </div>
                    </div>
                    <div class="panel-body" style="padding-bottom:50px;">
                        <div class="col-md-12" style="padding-top:20px;">
                            <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                                <h2 style="line-height:.4;">{echo round($total[0]["click"], 2)}</h2>
                                <small>Clicks</small>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                                <h2 style="line-height:.4;">{echo round($total[0]["earn"]*1000/$total[0]["click"], 2)}</h2>
                                <small>Average RPM</small>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                                <h2 style="line-height:.4;">{echo round($total[0]["earn"], 2)}</h2>
                                <small>Earnings</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading bg-white border-none" style="padding:20px;">
                        <div class="col-md-6 col-sm-6 col-sm-12 text-left">
                            <h4>Earnings</h4>
                        </div>
                    </div>
                    <div class="panel-body" style="padding-bottom:50px;">
                        <div class="col-md-12" style="padding-top:20px;">
                            <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                                <h2 style="line-height:.4;">{echo round($total[0]["earn"], 2)}</h2>
                                <small>Total</small>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                                <h2 style="line-height:.4;">{$paid}</h2>
                                <small>Paid</small>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                                <h2 style="line-height:.4;" id="today_earning">0</h2>
                                <small>Today</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel bg-green text-white">
                <div class="panel-body">
                <!-- <div id="world-map" style="max-width: 1100px; height: 400px"></div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/assets/js/jquery-jvectormap-2.0.3.min.js"></script>
<script src="/public/assets/js/jquery-jvectormap-world-mill-en.js"></script>
<script type="text/javascript">
$(function() {
    stats();
});
</script>
