<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header text-center">Settings</h3>
                <div class="row">

                    <div class="col-lg-4 col-md-4">
                        <div class="panel panel-warning">
                            <div class="panel-heading">Users</div>
                            <table class="table">
                                <tr>
                                    <th>
                                        Allow User Login
                                    </th>
                                    <td>
                                        {if($login->value == "yes")}
                                            <a href="/admin/edit/meta/{$login->id}/value/no" class="btn btn-warning btn-xs"><i class="fa fa-ban"></i></a>&nbsp;
                                        {/if}
                                        {else}
                                            <a href="/admin/edit/meta/{$login->id}/value/yes" class="btn btn-primary btn-xs"><i class="fa fa-check"></i></a>&nbsp;
                                        {/else}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="panel panel-warning">
                            <div class="panel-heading">Commision</div>
                            <table class="table">
                                <tr>
                                <form method="post" action="">
                                    <td><input type="number" name="commision" class="form-control" placeholder="Enter commision percent only" value="{$commision->value}"></td>
                                    <td>
                                        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-floppy-o"></i></button>
                                    </td>
                                </form>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
