<div id="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header text-center">Top Earners</h3>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="panel panel-default">
                            <ul class="list-group">
                                <li class="list-group-item active text-center"><i class="fa fa-trophy"></i> Today</li>
                                <li class="list-group-item">
                                    Username
                                    <span class="badge">Clicks</span>
                                </li>
                                {foreach $e in $earners}
                                <li class="list-group-item">
                                    {echo ($e->username) ? $e->username : "--Not Provided--"}
                                    <span class="badge">
                                    {echo $e->clicks}
                                </span>
                                </li>
                                {/foreach}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12"></div>
                </div>
            </div>
        </div>
    </div>
</div>
