<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header text-center">Top Earners</h3>
        
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="panel panel-default">
                    <ul class="list-group">
                        <li class="list-group-item active text-center"><i class="fa fa-trophy"></i> Today</li>
                        {foreach $t in $today}
                            {script $user = User::first(array("id = ?" => $t['user_id']), array("username"))}
                            <li class="list-group-item">
                                {$user->username}
                                <span class="badge">
                                    {echo $t['count']}
                                </span>
                            </li>
                        {/foreach}
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12"></div>
        </div>
        
    </div>
</div>
